<div class="text-center">  
    <a class="btn btn-outline-secondary" href="/book/a" role="button">A</a>
    <a class="btn btn-outline-secondary" href="/book/b" role="button">B</a>
    <a class="btn btn-outline-secondary" href="/book/c" role="button">C</a>
    <a class="btn btn-outline-secondary" href="/book/d" role="button">D</a>
    <a class="btn btn-outline-secondary" href="/book/e" role="button">E</a>
    <a class="btn btn-outline-secondary" href="/book/f" role="button">F</a>
    <a class="btn btn-outline-secondary" href="/book/g" role="button">G</a>
    <a class="btn btn-outline-secondary" href="/book/h" role="button">H</a>
    <a class="btn btn-outline-secondary" href="/book/i" role="button">I</a>
    <a class="btn btn-outline-secondary" href="/book/j" role="button">J</a>
    <a class="btn btn-outline-secondary" href="/book/k" role="button">K</a>
    <a class="btn btn-outline-secondary" href="/book/l" role="button">L</a>
    <a class="btn btn-outline-secondary" href="/book/m" role="button">M</a>
    <a class="btn btn-outline-secondary" href="/book/n" role="button">N</a>
    <a class="btn btn-outline-secondary" href="/book/o" role="button">O</a>
    <a class="btn btn-outline-secondary" href="/book/p" role="button">P</a>
    <a class="btn btn-outline-secondary" href="/book/q" role="button">Q</a>
    <a class="btn btn-outline-secondary" href="/book/r" role="button">R</a>
    <a class="btn btn-outline-secondary" href="/book/s" role="button">S</a>
    <a class="btn btn-outline-secondary" href="/book/t" role="button">T</a>
    <a class="btn btn-outline-secondary" href="/book/u" role="button">U</a>
    <a class="btn btn-outline-secondary" href="/book/v" role="button">V</a>
    <a class="btn btn-outline-secondary" href="/book/w" role="button">W</a>
    <a class="btn btn-outline-secondary" href="/book/x" role="button">X</a>
    <a class="btn btn-outline-secondary" href="/book/y" role="button">Y</a>
    <a class="btn btn-outline-secondary" href="/book/z" role="button">Z</a>
</div>
