<div class="text-center">  
    <a class="btn btn-outline-secondary mb-3" href="/book/a" role="button">A</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/b" role="button">B</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/c" role="button">C</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/d" role="button">D</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/e" role="button">E</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/f" role="button">F</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/g" role="button">G</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/h" role="button">H</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/i" role="button">I</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/j" role="button">J</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/k" role="button">K</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/l" role="button">L</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/m" role="button">M</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/n" role="button">N</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/o" role="button">O</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/p" role="button">P</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/q" role="button">Q</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/r" role="button">R</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/s" role="button">S</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/t" role="button">T</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/u" role="button">U</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/v" role="button">V</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/w" role="button">W</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/x" role="button">X</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/y" role="button">Y</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/z" role="button">Z</a>
</div>

<div class="text-center mt-3">  
    <a class="btn btn-outline-secondary mb-3" href="/book/0" role="button">0</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/1" role="button">1</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/2" role="button">2</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/3" role="button">3</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/4" role="button">4</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/5" role="button">5</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/6" role="button">6</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/7" role="button">7</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/8" role="button">8</a>
    <a class="btn btn-outline-secondary mb-3" href="/book/9" role="button">9</a>
</div>